//FONTS
$fontSm: 1.4rem;
$fontSize: 1.6rem;
$fontMd: 2rem;
$fontTitle: 2.4rem;

//padding
$paddingXs: 1rem;
$paddingSm: 1.5rem;
$paddingMd: 2rem;
$paddingLg: 3rem;

//COLORS
$white: #fff;
$dirtyWhite: rgb(215, 210, 210);
$hoverColor: #eaa950;
$backgroundDark: #00001a;
$lightGray: rgb(110, 110, 110);
